NODE_ENV=development
PORT=3002
MONGODB_URI=
ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
RABBITMQ_URL=
REDIS_HOST=
REDIS_PORT=6379
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
JWT_SECRET=
FRONTEND_URL=
